body {
    background-color: #f8f9fa;
  }

.card {
  border: none;
  cursor: pointer;
  transition: transform 0.2s;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card img {
  border-radius: 15px 15px 0 0;
}

.card:hover {
  transform: scale(1.05);
}

.card .card-body {
  padding: 10px;
}

.card .card-title {
  margin-bottom: 0;
}

.taille-card {
  padding: 4;
}

.selected-card {
  border: 2px solid #007bff;
}

.table .tr {
  border: none;
}