{% extends "layout.html" %}
{% block content %}
<div class="container mt-4">
  <h1 class="text-center mb-4">Choix des suppléments</h1>
  

  <div class="row mb-4">
    <!-- Pizza selectionnée -->
    <div class="col-3  text-center card">
      <h2>{{ pizza }}</h2>
      <img src="{{ url_for('static', filename='images/' ~ pizzas[pizza]['image']) }}" class="img-fluid" alt="{{ pizza }} Pizza">  
    </div>
        
    <!-- Choix des sauces -->
    <div class = "col-8">
      <h2>Sauce</h2>
      <div class="row">
        {% for sauce, img in sauces.items() %}
        <div class="col-4">
          <div class="card sauce-card {%if sauce== pizzas[pizza].sauce %} selected-card {%endif%}" data-ingredient="{{ sauce }}">
            <img src="{{ url_for('static', filename='images/' ~ img) }}" class="card-img-top" alt="{{ sauce }}">
            <div class="card-body">
              <h5 class="card-title text-center">{{ sauce }}</h5>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>

    <!-- Choix des tailles -->
    <div class="col-1">
      <h2>Taille</h2>
      {% for taille in tailles %}
      <div class="card taille-card {%if loop.index == 2%} selected-card {%endif%} my-4" data="{{taille}}">
        <div class="card-body">
          <h5 class="card-title text-center">{{taille}}</h5>
        </div>
      </div>
      {% endfor %}
    </div> 
  </div>  

  <!-- Ingredients de la pizza -->
  <div class="row" id="ingredients-container">
    {% for ingredient in pizzas[pizza].ingredients %}
    <div class="col-md-3 col-sm-6 mb-4 ingredient-card">
      <div class="card" data-ingredient="{{ ingredient }}">
        <img src="{{ url_for('static', filename='images/ingredients/' ~ supplements[ingredient].image) }}" class="card-img-top" alt="{{ ingredient }}">
        <div class="card-body">
          <h5 class="card-title text-center">{{ ingredient}}</h5>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

  <!-- Bouton valider -->
  <div class="text-center mt-4">
    <a class='btn btn-primary' href="/recap" onclick="addPizzaToOrder()">Ajouter cette pizza</a>
  </div>


  <!-- Display Supplements Grid -->
  <h1>Supplements</h1>
  <div class="row">
    {% for supplement, details in supplements.items() %}
    <div class="col-md-3 col-sm-6 mb-4">
      <div class="card supplement-card" name-supplement="{{supplement}}" img-supplement="{{details.image}}">
        <img src="{{ url_for('static', filename='images/ingredients/' ~ details.image) }}" class="card-img-top" alt="{{ supplement }}">
        <div class="card-body">
          <h5 class="card-title text-center">{{ supplement }}</h5>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
