{% extends "layout.html" %}
{% block content %}
<div class="container mt-4">
  <h1 class="text-center mb-4">Choisissez une pizza</h1>
  <div class="row">
    {% for pizza, details in pizzas.items() %}
    <div class="col-md-3 col-sm-6 mb-4">
      <div class="card pizza-card" data-pizza="{{ pizza }}">
        <img src="{{ url_for('static', filename='images/' ~ details.image) }}" class="card-img-top" alt="{{ pizza }} Pizza">
        <div class="card-body">
          <h5 class="card-title text-center"> {{ pizza }} </h5>
          <!-- <p class="card-text text-center">{{ details.description }}</p> -->
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
